---
import lodash from "lodash";
import { marked } from "marked";

import {
  airtableClient,
  getLookupFieldValue,
  getOptionalStringFieldValue,
  getStringFieldValue,
} from "../../airtable-api";
import Layout from "../../layouts/Layout.astro";
import HeaderSection from "../../components/HeaderSection.astro";
import HeaderTitle from "../../components/HeaderTitle.astro";
import HeaderSubtitle from "../../components/HeaderSubtitle.astro";
import QuestionText from "../../components/QuestionText.astro";
import Link from "../../components/Link.astro";
import CandidateAvatar from "../../components/CandidateAvatar.astro";

export async function getStaticPaths() {
  const candidates = await airtableClient("Candidates")
    .select({
      view: "Grid view",
    })
    .all();

  const questionRecords = await airtableClient("Questions")
    .select({
      view: "Grid view",
    })
    .all();

  const answerRecords = await airtableClient("Answers")
    .select({
      view: "Grid view",
    })
    .all();

  return candidates.map((candidateRecord) => {
    const candidateFullName = getStringFieldValue(candidateRecord, "Full name");
    const candidateAreaName = getLookupFieldValue(candidateRecord, "Area name");
    const candidateAreaLocalAuthorityName = getLookupFieldValue(
      candidateRecord,
      "Area local authority name"
    );
    const candidateProfilePictureUrl = getOptionalStringFieldValue(
      candidateRecord,
      "Profile picture"
    );

    const questions = questionRecords
      .filter(
        (questionRecord) =>
          getLookupFieldValue(questionRecord, "Local authority name") ===
          getLookupFieldValue(candidateRecord, "Area local authority name")
      )
      .map((questionRecord) => {
        const answerRecord = answerRecords.filter((answerRecord) => {
          return (
            getLookupFieldValue(answerRecord, "Candidate full name") ===
              candidateFullName &&
            answerRecord.get("Question")?.toString() === questionRecord.id
          );
        })[0];
        return {
          text: getStringFieldValue(questionRecord, "Text"),
          answer: answerRecord
            ? getStringFieldValue(answerRecord, "Text")
            : undefined,
        };
      });

    const hasAnswers = questions.some((question) => Boolean(question.answer));

    return {
      params: {
        candidate: lodash.kebabCase(candidateFullName),
      },
      props: {
        candidateFullName,
        candidateAreaName,
        candidateAreaLocalAuthorityName,
        candidateProfilePictureUrl,
        questions,
        hasAnswers,
      },
    };
  });
}

const {
  candidateFullName,
  candidateAreaName,
  candidateAreaLocalAuthorityName,
  candidateProfilePictureUrl,
  questions,
  hasAnswers,
} = Astro.props;
---

<Layout>
  <HeaderSection>
    <div class="flex place-content-center">
      <CandidateAvatar
        candidateFullName={candidateFullName}
        profilePictureUrl={candidateProfilePictureUrl}
        showName={false}
      />
    </div>
    <HeaderTitle>{candidateFullName}</HeaderTitle>
    <HeaderSubtitle>
      Candidate for
      <Link
        to={`areas/${lodash.kebabCase(candidateAreaLocalAuthorityName)}/${lodash.kebabCase(candidateAreaName)}`}
      >
        {candidateAreaName}
      </Link>
    </HeaderSubtitle>
  </HeaderSection>
  <main class="px-gutter">
    {
      hasAnswers ? (
        questions.map((question) => (
          <>
            <QuestionText>{question.text}</QuestionText>
            <div
              class="pb-4 markdown"
              set:html={marked.parse(question.answer ?? "")}
            />
          </>
        ))
      ) : (
        <p>
          If you're a voter in this candidate's area and you'd like them to
          answer these questions, please email them and tell them this:
          &lt;placeholder-email@example.com&gt;.
        </p>
      )
    }
  </main>
</Layout>
