---
import {
  airtableClient,
  getLookupFieldValue,
  getStringFieldValue,
  getOptionalStringFieldValue,
} from "../airtable-api";
import Layout from "../layouts/Layout.astro";
import Link from "../components/Link.astro";
import CandidateAvatar from "../components/CandidateAvatar.astro";
import AreaSelector from "../components/AreaSelector.astro";
import { getAreasByLocalAuthority } from "../utils";

const electoralAreas = await airtableClient("Areas")
  .select({
    view: "Grid view",
  })
  .all();

const { dccElectoralAreaNames, fingalElectoralAreaNames } =
  getAreasByLocalAuthority(electoralAreas);

const candidates = await airtableClient("Candidates")
  .select({
    view: "Grid view",
  })
  .all();

const candidatesByArea = candidates.reduce<Record<string, typeof candidates>>(
  (acc, candidate) => {
    const candidateAreaName = getLookupFieldValue(candidate, "Area name");
    const candidatesInArea = acc[candidateAreaName]
      ? [...acc[candidateAreaName], candidate]
      : [candidate];
    return {
      ...acc,
      [candidateAreaName]: candidatesInArea,
    };
  },
  {}
);
---

<Layout>
  <header class="pt-2 pb-8 px-gutter">
    <h2 class="pb-4">
      We
      <Link
        href="https://dublininquirer.com/2024/03/13/here-are-the-issues-people-say-they-want-us-to-ask-local-election-candidates-about/"
        target="_blank">asked Dubliners</Link
      >
      what they want candidates in the 2024 local elections to talk about as they
      compete for votes, and then posed those questions to the candidates running
      seats on Dublin City Council and Fingal County Council. These are their responses.
    </h2>
    <div class="pb-2">
      <AreaSelector
        dccElectoralAreaNames={dccElectoralAreaNames}
        fingalElectoralAreaNames={fingalElectoralAreaNames}
      />
    </div>
    <p>
      If you don't know which local electoral area you live in, you can enter
      your address into this <Link
        href="https://urschrei.github.io/irish_electoral_divisions/"
        target="_blank">tool</Link
      > to find out.
    </p>
  </header>
  <main class="px-gutter">
    <h1 class="font-bold text-2xl">Dublin City Council</h1>
    {
      dccElectoralAreaNames.map((electoralAreaName) => {
        if (
          !candidatesByArea[electoralAreaName] ||
          candidatesByArea[electoralAreaName]?.length === 0
        ) {
          return null;
        }
        return (
          <>
            <div>
              <p>{electoralAreaName}</p>
            </div>
            <div class="flex flex-wrap">
              {candidatesByArea[electoralAreaName]?.map((candidate) => {
                const candidateFullName = getStringFieldValue(
                  candidate,
                  "Full name"
                );
                return (
                  <CandidateAvatar
                    candidateFullName={candidateFullName}
                    profilePictureUrl={getOptionalStringFieldValue(
                      candidate,
                      "Profile picture"
                    )}
                  />
                );
              })}
            </div>
            <hr />
          </>
        );
      })
    }
    <h1 class="font-bold text-2xl">Fingal County Council</h1>
    {
      fingalElectoralAreaNames.map((electoralAreaName) => {
        if (
          !candidatesByArea[electoralAreaName] ||
          candidatesByArea[electoralAreaName]?.length === 0
        ) {
          return null;
        }
        return (
          <>
            <div>
              <p>{electoralAreaName}</p>
            </div>
            <div class="flex flex-wrap">
              {candidatesByArea[electoralAreaName]?.map((candidate) => {
                const candidateFullName = getStringFieldValue(
                  candidate,
                  "Full name"
                );
                return (
                  <CandidateAvatar
                    candidateFullName={candidateFullName}
                    profilePictureUrl={getOptionalStringFieldValue(
                      candidate,
                      "Profile picture"
                    )}
                  />
                );
              })}
            </div>
            <hr />
          </>
        );
      })
    }
  </main>
</Layout>
