---
import lodash from "lodash";
import { LOCAL_AUTHORITY } from "../utils";

interface Props {
  dccElectoralAreaNames: string[];
  fingalElectoralAreaNames: string[];
}

const { dccElectoralAreaNames, fingalElectoralAreaNames } = Astro.props;
---

<select
  name="electoral-area"
  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg p-2 block w-full"
>
  <option disabled selected>Choose your electoral area</option>
  <option disabled>{LOCAL_AUTHORITY.DUBLIN_CITY_COUNCIL}</option>
  {
    dccElectoralAreaNames.map((electoralAreaName) => (
      <option
        value={`${lodash.kebabCase(LOCAL_AUTHORITY.DUBLIN_CITY_COUNCIL)}/${lodash.kebabCase(electoralAreaName)}`}
      >
        {electoralAreaName}
      </option>
    ))
  }
  <option disabled>{LOCAL_AUTHORITY.FINGAL_COUNTY_COUNCIL}</option>
  {
    fingalElectoralAreaNames.map((electoralAreaName) => (
      <option
        value={`${lodash.kebabCase(LOCAL_AUTHORITY.FINGAL_COUNTY_COUNCIL)}/${lodash.kebabCase(electoralAreaName)}`}
      >
        {electoralAreaName}
      </option>
    ))
  }
</select>
<script>
  const selectElement = document.querySelector("select[name=electoral-area]");
  selectElement?.addEventListener("change", (event) => {
    window.location.href = `${import.meta.env.BASE_URL}/areas/${(event.target as HTMLSelectElement).value}`;
  });
</script>
