---
import Link from "../components/Link.astro";
import "./base.css";

interface Props {
  title?: string;
}

const GOOGLE_TAG_ID = import.meta.env.GOOGLE_TAG_ID;

const description = `Here's what the candidates say about eight issues, to help you decide who you're going to vote for.`;

const { title = "Dublin Inquirer Local Elections Voter Guide 2024" } =
  Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />

    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="/images/favicon.png" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/gh/orestbida/cookieconsent@3.0.1/dist/cookieconsent.css"
    />
    <title>{title}</title>
    <meta name="description" content={description} />

    <meta property="og:url" content="https://dublinvoterguide2024.ie/" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta
      property="og:image"
      content="https://dublinvoterguide2024.ie/images/link-preview.jpeg"
    />

    <meta name="twitter:card" content="summary_large_image" />
    <meta property="twitter:domain" content="dublinvoterguide2024.ie" />
    <meta property="twitter:url" content="https://dublinvoterguide2024.ie/" />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />
    <meta
      name="twitter:image"
      content="https://dublinvoterguide2024.ie/images/link-preview.jpeg"
    />

    <script is:inline define:vars={{ GOOGLE_TAG_ID }}>
      window.GOOGLE_TAG_ID = GOOGLE_TAG_ID;
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("consent", "default", {
        ad_user_data: "denied",
        ad_personalization: "denied",
        ad_storage: "denied",
        analytics_storage: "denied",
        wait_for_update: 500,
      });

      gtag("js", new Date());

      gtag("config", window.GOOGLE_TAG_ID);
    </script>
  </head>
  <body
    class="font-body text-dublin-inquirer-foreground bg-dublin-inquirer-background"
  >
    <div class="flex flex-col h-screen">
      <div class="flex px-gutter pt-4 pb-2 divide-x-2">
        <div class="pr-2">
          <a href="https://dublininquirer.com">
            <img
              class="w-48"
              src="https://i0.wp.com/dublininquirer.com/wp-content/uploads/2024/03/Voter-Guide-Logo-42.png?fit=215%2C90&ssl=1"
              alt="Dublin Inquirer"
              decoding="async"
              fetchpriority="high"
              srcset="https://i0.wp.com/dublininquirer.com/wp-content/uploads/2024/03/Voter-Guide-Logo-42.png?fit=215%2C90&ssl=1&w=215 215w"
              sizes="(max-width: 3333px) 100vw, 3333px"
            />
          </a>
        </div>
        <div class="pl-2">
          <a href={`${import.meta.env.BASE_URL}`}>
            <h1 class="font-bold">2024 Local Elections Voter Guide</h1>
          </a>
        </div>
      </div>
      <div class="flex-grow">
        <slot />
      </div>
      <footer class="px-gutter text-xs text-center pt-8">
        <p class="pb-2">
          This voter guide was put together by <Link
            href="https://dublininquirer.com"
            target="_blank">Dublin Inquirer</Link
          > and <Link href="https://github.com/tewson" target="_blank"
            >Tewson Seeoun</Link
          >, with assistance from Emma Hanrahan and Hugh Dooley.
        </p>
        <p class="pb-2">
          If you have questions or suggestions, or are a candidate for Dublin
          City Council or Fingal County Council and want to be included, please
          contact
          <Link href="mailto:sam@dublininquirer.com"
            >sam@dublininquirer.com</Link
          >.
        </p>
        <p class="pb-4">
          Dublin Inquirer is a small, local, independent paper, supported by
          readers through subscriptions. If you like what we do, we'd love it if
          you'd consider <Link
            href="https://dublininquirer.com/subscribe/"
            target="_blank">subscribing</Link
          > so we can do more.
        </p>
      </footer>
    </div>
    <script>
      import "https://cdn.jsdelivr.net/gh/orestbida/cookieconsent@3.0.1/dist/cookieconsent.umd.js";

      (window as any).CookieConsent.run({
        categories: {
          necessary: {
            enabled: true,
            readOnly: true,
          },
          analytics: {},
        },

        language: {
          default: "en",
          translations: {
            en: {
              consentModal: {
                title: "This site uses cookies",
                description:
                  "We use cookies to collect statistics on your visits so we can show the candidates how important their answers are to voters.",
                acceptAllBtn: "Accept all",
                acceptNecessaryBtn: "Reject all",
                showPreferencesBtn: "Manage Individual preferences",
              },
              preferencesModal: {
                title: "Manage cookie preferences",
                acceptAllBtn: "Accept all",
                acceptNecessaryBtn: "Reject all",
                savePreferencesBtn: "Accept current selection",
                closeIconLabel: "Close modal",
                sections: [
                  {
                    title: "Strictly Necessary cookies",
                    description:
                      "These cookies are essential for the proper functioning of the website and cannot be disabled.",
                    linkedCategory: "necessary",
                  },
                  {
                    title: "Analytics",
                    description:
                      "These cookies collect information about how you use our website. All of the data is anonymized and cannot be used to identify you.",
                    linkedCategory: "analytics",
                  },
                  {
                    title: "More information",
                    description:
                      'For any queries in relation to our usage of cookies and your choices, please see our <a href="https://dublininquirer.com/privacy-policy">privacy policy</a>',
                  },
                ],
              },
            },
          },
        },

        onFirstConsent: ({ cookie }: { cookie: any }) => {
          function gtag(_: string, __: string, ___: object) {
            (window as any).dataLayer.push(arguments);
          }

          if (cookie.categories.includes("analytics")) {
            gtag("consent", "update", {
              analytics_storage: "granted",
            });
          }

          const gtagScript = document.createElement("script");
          gtagScript.async = true;
          gtagScript.src = `https://www.googletagmanager.com/gtag/js?id=${(window as any).GOOGLE_TAG_ID}`;
          const firstScript = document.getElementsByTagName("script")[0];
          firstScript.parentNode?.insertBefore(gtagScript, firstScript);
        },
      });

      if ((window as any).CookieConsent.acceptedCategory("analytics")) {
        function gtag(_: string, __: string, ___: object) {
          (window as any).dataLayer.push(arguments);
        }
        gtag("consent", "update", {
          analytics_storage: "granted",
        });
      }
    </script>
  </body>
</html>
